<!-- Above Sidebar Section-->
<div class='above-sidebar-wrapper'>
    <section id='content-section-1'>
        <div class='gdlr-color-wrapper  gdlr-show-all no-skin' style='padding-top: 0px; padding-bottom: 30px; '>
            <div class='container'>
                <div class='gdlr-master-slider-item gdlr-slider-item gdlr-item'>
                    <!-- MasterSlider -->
                    <div class='master-slider-parent ms-parent-id-5' id='P_MS53d5cadc7a9d0'>
                        <!-- MasterSlider Main -->
                        <div class='master-slider ms-skin-default' id='MS53d5cadc7a9d0'>
                            {% for item in site.masterslider %}
                                <div class='ms-slide' data-delay='6' data-fill-mode='fill'>
                                    <img alt='' data-src='{{ theme_url }}/images/{{ item.image }}' src='{{ theme_url }}/images/blank.gif' title=''/>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- END MasterSlider Main -->
                    </div>
                    <!-- END MasterSlider -->
                    <script>
                    (function ( $ ) {
                        "use strict";

                        $(function () {
                            var masterslider_a9d0 = new MasterSlider();

                // slider controls
                masterslider_a9d0.control('arrows'     ,{ autohide:true, overVideo:true  });                    
                masterslider_a9d0.control('circletimer',{ autohide:false, overVideo:true, color:'#272727', radius:10, stroke:2   });
                masterslider_a9d0.control('timebar'    ,{ autohide:false, overVideo:true, align:'bottom', color:'#efefef'  , width:4 });
                // slider setup
                masterslider_a9d0.setup("MS53d5cadc7a9d0", {
                    width           : 1140,
                    height          : 500,
                    space           : 0,
                    start           : 1,
                    grabCursor      : false,
                    swipe           : true,
                    mouse           : false,
                    layout          : "fullwidth", 
                    wheel           : false,
                    autoplay        : true,
                    instantStartLayers:false,
                    loop            : true,
                    shuffle         : false,
                    preload         : 2,
                    heightLimit     : true,
                    autoHeight      : false,
                    smoothHeight    : true,
                    endPause        : false,
                    overPause       : true,
                    fillMode        : "fill", 
                    centerControls  : false,
                    layersMode      : "center", 
                    hideLayers      : false, 
                    fullscreenMargin: 0,
                    speed           : 20, 
                    dir             : "h", 
                    parallaxMode    : 'swipe',
                    view            : "basic"
                });


$("head").append( "<link href='http://fonts.googleapis.com/css?family=Arvo:regular|Merriweather:700' id='ms-fonts' media='all' rel='stylesheet' type='text/css'/>" );

window.masterslider_instances = window.masterslider_instances || {};
window.masterslider_instances["5_a9d0"] = masterslider_a9d0;
});

})(jQuery);
</script>
</div>
<div class='clear'></div>
</div>
</div>
<div class='clear'></div>
</section>
</div>