<div class='gdlr-navigation-outer-wrapper' id='gdlr-navigation-outer-wrapper'>
    <div class='gdlr-navigation-container container'>
        <div class='gdlr-navigation-gimmick' id='gdlr-navigation-gimmick'></div>
        <div class='gdlr-navigation-wrapper'><nav class='gdlr-navigation' id='gdlr-main-navigation' role='navigation'>
            <ul class='sf-menu gdlr-main-menu' id='menu-main-menu-1'>
           {% for item in site.mainmenu %}
            <li class='menu-item menu-item-type-post_type gdlr-normal-menu'><a href='{{ item.url }}'>{{ item.text }}</a></li>
        {% endfor %}
    </ul></nav>
    <div class='top-search-button' id='top-search-button'>
        <i class='icon-search'></i>
    </div>
    <div class='clear'></div></div>
    <div class='clear'></div>
</div>
</div>
<div id='gdlr-navigation-substitute'></div>
<div class='gdlr-nav-search-form' id='gdlr-nav-search-form'>
    <div class='gdlr-nav-search-container container'>
        <form action='/search' method='get'>
            <i class='icon-search'></i>
            <input class='style-2' id='searchsubmit2' type='submit' value=''/>
            <div class='search-text' id='search-text2'>
                <input autocomplete='off' data-default='Type keywords...' name='q' type='text' value=''/><input type='hidden' value='max-results=6'/>
            </div>
            <div class='clear'></div>
        </form>
    </div>
</div>